html,
body {
    min-height: 100%;
    margin: 0;
    color: honeydew;
    background-color: rgb(128, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
}

body a {
    text-decoration: none;
    color: rgb(240, 240, 248);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: rgb(120, 120, 226);
    transition: 0.4ms;
}

body a:hover {
    background-color: rgb(103, 103, 209);
}

body h3 {
    text-decoration: underline;
    text-decoration-color: rgb(247, 247, 247);
}

.logo-contain {
    background-color: rgb(243, 240, 240);
    margin: 0;
    bottom: 0;
}

.logo-text {
    font-size: 250%;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 90, 90);
    margin-bottom: 0;
}

.logo-img {
    vertical-align: middle;
    margin-bottom: 0;
}

.content {
    margin-left: 3%;
    margin-right: 1%;
}

.sub-content {
    margin-top: 15px;
    margin-bottom: 50px;
}
